/* Color palette: #f9f9e7, #2D2D23, #e76658 */

body {
    position: absolute;
    background-color: #f9f9e7;
    background-image: url("/images/paper.png"); /* Credits:  */
}

h1 {
    font-family: "Sixtyfour Convergence", "Consolas", "Courier New", monospace;
    font-size: 48px;
    line-height: 1.5;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 5px;
    word-spacing: 10px;
}

p {
    font-family: "Special Elite", "Consolas", "Courier New", monospace;
    color: #2D2D23;
    font-size: 22px;
    line-height: 2;
    text-align: left;
}

#selfIntro {
    border: 10px solid #2D2D23;
    margin-left: 300px;
    margin-right: 300px;
    margin-bottom: 30px;
    padding: 50px;
}

.selfPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #2D2D23 ridge 20px;
}

